{% extends 'default/webapp/base.html' %}
{% load static %}
{% block head-title %}<title>NewsWorks - User Profile</title>{% endblock %}
{% block content %}
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Profile</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Home</a></li>
                    <li class="breadcrumb-item active">User Profile</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section profile">
            <div class="row">
                <div class="col-xl-4">

                    <div class="card">
                        <div class="card-body pt-3 profile-overview align-items-center">

                            <h2 class="card-title">{{ request.user.first_name }} {{ request.user.last_name }}</h2>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                <div class="col-lg-9 col-md-8">{{ request.user.first_name }} {{ request.user.last_name }}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Username</div>
                                <div class="col-lg-9 col-md-8">{{ request.user.username }}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Email</div>
                                <div class="col-lg-9 col-md-8">{{ request.user.email }}</div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-xl-8">

                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab"
                                            data-bs-target="#news-country">Country Of News
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#news-source">
                                        Source Of News
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#news-keywords">
                                        Keywords
                                    </button>
                                </li>

                            </ul>
                            <div class="tab-content pt-2">

                                <div class="tab-pane fade pt-3 show active" id="news-country">

                                    <form>
                                        <div class="row mb-3">
                                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label"></label>
                                            <div class="col-md-8 col-lg-9">
                                                {% for country in country_list %}
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox"
                                                               id="country{{ country.code }}">
                                                        <label class="form-check-label" for="country{{ country.code }}">
                                                            {{ country.name }}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </form><!-- End settings Form -->

                                </div>

                                <div class="tab-pane fade pt-3" id="news-keywords">
                                    <div class="row mb-3">
                                        <label></label>
                                        <div class="col">
                                            <input class="form-control" placeholder="comma separated">
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade pt-3" id="news-source">

                                    <!-- Settings Form -->
                                    <form>

                                        <div class="row mb-3">
                                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label"></label>
                                            <div class="col-md-8 col-lg-9">
                                                {% for source in source_list %}
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox"
                                                               id="{{ source.id }}">
                                                        <label class="form-check-label" for="{{ source.id }}">
                                                            {{ source.name }}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                    </form><!-- End settings Form -->

                                </div>

                            </div><!-- End Bordered Tabs -->

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main><!-- End #main -->
{% endblock content %}
